* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colors: (
    bg: #0B132B,
    font: #6FFFE9,
    font-white: #fff,
);


@function color($color-name) {
    @return map-get($colors, $color-name);
}


body {
    font-family: 'Montserrat', sans-serif;
    color: color(font-white);

    #bg {
        clip-path: polygon(100% 0, 100% 75%, 54% 100%, 0 100%, 0 0);
        background-color: color(bg);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1; 
    }

    section#nav {
        display: block;
        height: 30px;
        width: 100%;
        text-align: right;
        font-size: 1.5em;
        padding: .5em;
        position: absolute;
        margin: 0 0 1em 0;
    }

    section#header {
        display: block;
        padding: 2em;
        height: 300px;
        width: 100%;

        .icon-header {
            margin: 2em 0 1em 0;
            display: block;
            width: 100%;
            font-size: 2em;

            span {
                border-radius: 50%;
            }

        }

        .header-text h1 {
            text-transform: uppercase;
            letter-spacing: .1em;
            margin-bottom: 1em;

            span {
                text-transform: uppercase;
                letter-spacing: .1em;
                font-size: .8em;
            }
        }

        .header-text hr {
            margin-bottom: 1em;
        }
    }

    #bg2 {
    background-color: color(bg);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; 
    }



}